<link href="~/css/chat/chat_manager.css" rel="stylesheet" />
<link href="~/css/chat/chat_messaging.css" rel="stylesheet" />
<link href="~/css/chat/chat_users.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/chat/chat_manager.js"></script>
<script src="~/js/chat/chat_messaging.js"></script>
<script src="~/js/chat/hub_manager.js"></script>
<script src="~/js/signalr/signalr-client-1.0.0-alpha2-final.js"></script>
<script src="~/js/signalr/signalr-msgpackprotocol-1.0.0-alpha2-final.js"></script>
<script src="~/js/crypto/crypto-js.min.js"></script>
<script src="~/js/crypto/aes_manager.js"></script>
<script src="~/js/chat/user_manager.js"></script>
<script>
    $(document).ready(function () {
        chatManager.init("@User.Identity.Name");
    });
</script>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="chat-content">
    @if (true)
    {
        @Html.Partial("~/Views/Partial/_Confirmation.cshtml")       
    }

    <div class="chat-message-content">
        @Html.Partial("~/Views/Chat/_ChatMessage.cshtml")
    </div>
    <div class="chat-user-content">
        @Html.Partial("~/Views/Chat/_ChatUsers.cshtml")
    </div>

    @if (false)
    {
        //TODO delete "if" when finish task
        <div class="glyphicon-hd-video video-recorder">
            @Html.Partial("~/Views/Partial/_Recorder.cshtml")
        </div>
    }
</div>
